<mat-toolbar class="header">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="header__title--bold">torre</h1>
    <span class="spacer"></span>
    <h1 class="example-app-name">torre</h1>
</mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav-container__sidenav" [fixedInViewport]="true">
    </mat-sidenav>
    <mat-sidenav-content>
      <p><button mat-button (click)="sidenav.toggle()">Learn</button></p>
    </mat-sidenav-content>
  </mat-sidenav-container>