@import '../../utilities';

.sidenav-container {    
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;


    &__sidenav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
    }
}

.header {

    &__menu-button {
        margin-right: 24px;
    }

    &__title {

        &--bold {
            @include text-bold();
        }
    }

    &__avatar{
        height: auto;
        width: auto;
        max-width: 34px;
        max-height: 34px;
        border-radius: 100px;
        cursor: pointer;
    }
}