.spacer {
    flex: 1 1 auto;
}

@mixin text-bold {
    font-weight: bold;
}

@mixin center-align {
    margin-left: auto;
    margin-right: auto;
}

@mixin avatar-image {
    height: auto;
    width: auto;
    max-width: 34px;
    max-height: 34px;
    border-radius: 100px;
}

@mixin full-width {
    width: 100%;
}